.menu-btn{
    display: block;
        width: 14px;
        height: 14px;
        
    
        background-color: transparent;
        border: transparent;
        outline: transparent;
        stroke: white;
        position: absolute;
        top: 20px;
        right: 20px;
       
       

    
}


.mobile_buttom-open{
    
   
    opacity: 0;
    
   
    
}

.mobile_buttom-close{
   
    opacity: 1;
  
}

// .mobile__button-icon{
//     margin-left: auto;
// }