// Файл переменных. Сюда ничего не дописываем, но пользуемся !!!


$accentColor: #D41443; // темно-розовый
$secondaryColor: #FFA5BA; // светло-розовый
$fontBlack: #000000; // черный
$fontWhite: #FFFFFF; // белый
$fontGray: #907E82; // серый 