<!-- В этом файле работает Даниил -->
<section class="contacts contacts-section">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <!-- первая карточка -->
      <li class="contacts__item">
        <div class="adrress__label">CAFE</div>
        <address class="contacts__address">
          <div class="address__box">
            <p class="address__title">Chicago</p>

            <p class="address__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <span class="addrees__line"></span>
          </div>
          <ul class="time-list">
            <li class="time-list__item">
              <p class="time-list__text">Monday - Friday</p>
              <p class="time-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="time-list__item">
              <p class="time-list__text">Saturday - Sunday</p>
              <p class="time-list__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="time-list__item">
              <span class="addrees__line"></span>
            </li>
          </ul>
          <ul class="address-link__list">
            <li class="address-link__item">
              <a class="link address-link__link" href="tel:+610383 766 284">+61(0) 383 766 284</a>
            </li>
            <li class="address-link__item">
              <a class="link address-link__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <!-- вторая карточка -->
      <li class="contacts__item">
        <span class="adrress__label adrress__label--beige">FOODTRUCK</span>
        <address class="contacts__address">
          <div class="address__box">
            <p class="address__title">Los Angeles</p>

            <p class="address__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <span class="addrees__line"></span>
          </div>
          <ul class="time-list">
            <li class="time-list__item">
              <p class="time-list__text">Monday - Friday</p>
              <p class="time-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="time-list__item">
              <p class="time-list__text">Saturday - Sunday</p>
              <p class="time-list__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="time-list__item">
              <span class="addrees__line"></span>
            </li>
          </ul>
          <ul class="address-link__list">
            <li class="address-link__item">
              <a class="link address-link__link" href="tel:+610383 766 284">+61(0) 383 766 284</a>
            </li>
            <li class="address-link__item">
              <a class="link address-link__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <!-- третья карточка -->
      <li class="contacts__item">
        <span class="adrress__label">CAFE</span>
        <address class="contacts__address">
          <div class="address__box">
            <p class="address__title">New York</p>
            <p class="address__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <span class="addrees__line"></span>
          </div>
          <ul class="time-list">
            <li class="time-list__item">
              <p class="time-list__text">Monday - Friday</p>
              <p class="time-list__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="time-list__item">
              <p class="time-list__text">Saturday - Sunday</p>
              <p class="time-list__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="time-list__item">
              <span class="addrees__line"></span>
            </li>
          </ul>
          <ul class="address-link__list">
            <li class="address-link__item">
              <a class="link address-link__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            </li>
            <li class="address-link__item">
              <a class="link address-link__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="contacts-button__list">
      <li class="contacts-button__item">
        <button class="button-contacts button-contacts--red" type="button">
          Our Locations
          <svg class="contacts-button__icon contacts-button__icon--white" width="10" height="11">
            <use href="/images/icons.svg#icon-arrow1"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-button__item">
        <button class="button-contacts button-contacts--white" type="button">
          Franchise
          <svg class="contacts-button__icon contacts-button__icon--red" width="10" height="11">
            <use href="/images/icons.svg#icon-arrow1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
