<!-- В этом файле работает Юра -->
<header>


    <button class="menu-btn">
        <svg class="mobile__button-icon" width="14" height="14">
            <use class="mobile_buttom-open" href=" /images/icons.svg#icon-burher"></use>
        </svg></button>
    
<div>
<a class="header__link " href="./index.html">
  
        <img class="business__img" src=" ./images/logo/logo@1x.png" alt="логотип ice cream" width="199" height="50"  />
    
   
</a>

</div>
<div class="mobile-menu" data-menu>

  <div>
    <a class="header__link" href="./index.html">
      <img
        class="business__img"
        src=" ./images/logo/logo@1x.png"
        alt="логотип ice cream"
        width="199"
        height="50"
      />
    </a>
  </div>
  <!-- <div class="mobile-menu" data-menu>
    <nav class="mobile-nav">
        <button class="menu-btn">
            <svg class="mobile__button-icon" width="14" height="14">
            <use class="mobile_buttom-open" href=" /images/icons.svg#icon-burher"></use>
            <use class="mobile_buttom-close" href=" /images/icons.svg#icon-crost"></use>
            </svg></button>
        <button class="mobile__button" type="button"><span class="mobile__text">Buy now</span></button>
        <ul class="mobile-nav__list">
            <li class="mobile-nav__item">
                <a href="./index.html" class="mobile-nav__link">Home</a>
            </li>
            <li class="mobile-nav__item ">
                <a href="" class="mobile-nav__link">About us</a>
            </li>
            <li class="mobile-nav__item">
                <a href="" class="mobile-nav__link">How it’s made?</a>
            </li>
            <li class="mobile-nav__item">
                <a href="" class="mobile-nav__link">Our products</a>
            </li>
            <li class="mobile-nav__item">
                <a href="" class="mobile-nav__link">Contact</a>
            </li>
        </ul>
       
    </nav>
</div> -->
</header>
