<!-- В этом файле работает Дима Гончаров -->
<section class="herro">
  <div class="herro__container container">
    <div class="title-container">
      <h1 class="herro__title">
        ice cream made with
        <span class="herro__text">passion</span>
      </h1>
      <div class="herro-btn">
        <button class="herro__first-btn" type="button">Products</button>
        <button class="herro__second-btn" type="button">How it’s made?</button>
      </div>
    </div>
    <picture class="herro__img">
      <source
        srcset="/images/herro-img/herro-image-1_sm@2x.png 2x"
        media="(max-width:767px)"
        type="image/jpeg"
      />
      <img
        src="/images/herro-img/herro-image-1_sm@1x.png"
        alt="ice-cream"
        with="171"
        height="410"
      />
    </picture>
    <div class="ice-cream__background"></div>
  </div>
</section>
