<!-- В этом файле работает София -->
    <section class="products">
        <div class="container">
            <p class="products-text">100% natural</p>
            <h2 class="products-name">products</h2>
            <ul class="products__ice">
                <li class="products__ice-cream__background">
                    <img class="ice-cream-img" srcset="/images/products/ice-cream.png">
                    <h2 class="ice-cream">ice cream</h2>
                    <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>  
                    <p class="ice__second__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <div class="ice-img">
                    <svg width="15" height="15">
                    <use href="/images/icons.svg#icon-arrow2"></use>
                    </svg>
                    </div>
                </li>
                <li class="products__ice-coffee__background">
                    <img class="ice-coffee-img" srcset="/images/products/ice-coffee.png">
                    <h2 class="ice-coffee">ice coffee</h2>
                    <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <p class="ice__second__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <div class="ice-img">
                        <svg width="15" height="15">
                            <use href="/images/icons.svg#icon-arrow2"></use>
                        </svg>
                    </div>
                </li>
                <li class="products__milkshakes__background">
                    <img class="ice-milkshakes" srcset="/images/products/milkshakes.png">
                    <h2 class="milkshakes">milkshakes</h2>
                    <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <p class="ice__second__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et</p>
                    <div class="ice-img">
                        <svg width="15" height="15">
                            <use href="/images/icons.svg#icon-arrow2"></use>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </section>